@tailwind base;
@tailwind components;
@tailwind utilities;



.rs-hexagon-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/hexagon-cover.svg");
  mask-size: cover;
  aspect-ratio: 277 / 301;
}

.rs-circle-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/circle-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.rs-pill-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/pill-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.pill-right-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/pill-cover.svg");
  mask-composite: intersect;
  mask-size: cover;

  aspect-ratio: 1;
}
.rs-star-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/star-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.rs-flower-cover {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/flower-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.parent-cover {
  position: relative;
  width: 70%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 2rem auto;
}

.video-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0px auto;
}



.rs-door-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/door-cover-2.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.rs-heart-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/heart-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}



.rs-house-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/house-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}




.rs-mellow-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/mellow-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.rs-stripe-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/stripe-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}



.rs-chat-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/chat-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}


.rs-cloud-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/cloud-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}




.rs-saw-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  mask-image: url("./../assets/masks/saw-cover.svg");
  mask-size: cover;
  aspect-ratio: 1;
}

.wide-parent-cover
{
  position: relative;
  width:100%;
  height: auto;
  aspect-ratio: 16 / 9;

}


.rs-wide-saw-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/wide-saw-cover.svg");
  mask-size: cover;
  aspect-ratio:16/9;
}





.wide-sqaure-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/wide-square-cover.svg");
  mask-size: cover;
  aspect-ratio:16/9;
}





.wide-pill-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/wide-square-cover.svg");
  mask-size: cover;
  aspect-ratio:16/9;
}


.square-cover
{  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/square-cover.svg");
  mask-size: cover;
  aspect-ratio:1/1;
}
.wide-flag-cover
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  mask-image: url("./../assets/masks/wide-square-cover.svg");
  mask-size: cover;
  aspect-ratio:16/9;
}
